<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Data Source-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3307/book" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    <!--/Data Source-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"/>

        <property name="mappingResources">
            <list>
                <value>mapping/AdminInfo.hbm.xml</value>
                <value>mapping/AuthorFollow.hbm.xml</value>
                <value>mapping/AuthorGenres.hbm.xml</value>
                <value>mapping/AuthorInfo.hbm.xml</value>
                <value>mapping/AuthorReview.hbm.xml</value>
                <value>mapping/BookAuthors.hbm.xml</value>
                <value>mapping/BookGenres.hbm.xml</value>
                <value>mapping/BookInfo.hbm.xml</value>
                <value>mapping/BookRating.hbm.xml</value>
                <value>mapping/BookReview.hbm.xml</value>
                <value>mapping/BookReviewLike.hbm.xml</value>
                <value>mapping/BooksInDemand.hbm.xml</value>
                <value>mapping/BorrowBook.hbm.xml</value>
                <value>mapping/FriendshipMapping.hbm.xml</value>
                <value>mapping/Genres.hbm.xml</value>
                <value>mapping/Lend.hbm.xml</value>
                <value>mapping/LoginInfo.hbm.xml</value>
                <value>mapping/Notification.hbm.xml</value>
                <value>mapping/OrderInfo.hbm.xml</value>
                <value>mapping/PublisherInfo.hbm.xml</value>
                <value>mapping/RequestedBooks.hbm.xml</value>
                <value>mapping/Shelf.hbm.xml</value>
                <value>mapping/ShelfBooks.hbm.xml</value>
                <value>mapping/TopTenAuthors.hbm.xml</value>
                <value>mapping/TopTenBooks.hbm.xml</value>
                <value>mapping/UserCart.hbm.xml</value>
                <value>mapping/UserFavGenres.hbm.xml</value>
                <value>mapping/UserInfo.hbm.xml</value>

            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="connection.url">jdbc:mysql://localhost:3307/book</prop>
                <prop key="connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="connection.username">root</prop>
                <prop key="connection.password">root</prop>
                <prop key="connection.autocommit">true</prop>
                <prop key="transaction.auto_close_session">false</prop>
                <prop key="connection.release_mode">after_transaction</prop>
                <!--<prop key="hibernate.show_sql">true</prop>-->
            </props>
        </property>

    </bean>

    <bean id="genericDao" class="com.dao.GenericDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--HomePageShelves-->
    <bean id="homePageAction" class="com.action.HomePageAction" scope="prototype">
        <property name="bookService" ref="bookService" />
        <property name="userService" ref="userService" />
    </bean>

    <!---Login-->

    <bean id="userLoginDao" class="com.dao.login.UserLoginDaoImpl">
    </bean>

    <bean id="userLoginService" class="com.service.login.UserLoginService">
        <property name="userLoginDao" ref="userLoginDao" />
    </bean>

    <bean id="logIn" class="com.action.login.LoginAction" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="bookService" ref="bookService"/>
        <property name="authorService" ref="authorService"/>
    </bean>

    <!--/Login-->

    <!--Register-->
    <bean id="register" class="com.action.register.RegisterAction" scope="prototype">
        <property name="userLoginService" ref="userLoginService"/>
        <property name="userService" ref="userService"/>
        <property name="emailService" ref="emailService"/>
    </bean>
    <!--/Register-->

    <!--User-->

    <bean id="userDao" class="com.dao.UserDaoImpl">
    </bean>

    <bean id="userService" class="com.service.UserService">
        <property name="userDao" ref="userDao"/>
        <property name="lendService" ref="lendService"/>
        <property name="bookService" ref="bookService"/>
    </bean>

    <bean id="userProfile" class="com.action.user.UserProfile" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="userLoginService" ref="userLoginService"/>
    </bean>

    <!--.User-->

    <!--Upload Image-->
    <bean id="uploadImageAction" class="com.action.UploadImageAction" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
    <!--/Upload Image-->

    <!-- editprof -->


    <bean id="viewEditProfile" class="com.action.user.UserProfile" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="authorService" ref="authorService"/>
    </bean>

     <bean id="saveChanges" class="com.action.user.SaveChangesAction" scope="prototype">
         <property name="userService" ref="userService"/>
         <property name="authorService" ref="authorService"/>
     </bean>

    <!--/ editprof -->

    <!--books-->
    <bean id="bookDao" class="com.dao.BookDaoImpl">
    </bean>
    <bean id="bookService" class="com.service.BookService">
        <property name="userService" ref="userService" />
        <property name="bookDao" ref="bookDao"/>
    </bean>
    <bean id="bookInfoAction" class="com.action.book.BookInfoAction" scope="prototype">
        <property name="bookService" ref="bookService"/>
        <property name="bookReviewService" ref="bookReviewService"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="addBookAction" class="com.action.book.AddBookAction" scope="prototype">
        <property name="bookService" ref="bookService" />
    </bean>

    <bean id="bookReviewDao" class="com.dao.BookReviewDaoImpl">
    </bean>
    <bean id="bookReviewService" class="com.service.BookReviewService">
        <property name="bookReviewDao" ref="bookReviewDao"/>
    </bean>
    <!--books-->

    <!--Author-->

    <bean id="authorDao" class="com.dao.AuthorDaoImpl">
    </bean>

    <bean id="authorService" class="com.service.AuthorService">
        <property name="userService" ref="userService"/>
        <property name="authorDao" ref="authorDao"/>
    </bean>

    <bean id="authorInfoAction" class="com.action.author.AuthorInfoAction" scope="prototype">
        <property name="authorService" ref="authorService" />
        <property name="userService" ref="userService"/>
        <property name="authorReviewService" ref="authorReviewService" />
        <property name="bookService" ref="bookService"/>
    </bean>

    <bean id="authorReviewDao" class="com.dao.AuthorReviewDaoImpl">
    </bean>
    <bean id="authorReviewService" class="com.service.AuthorReviewService">
        <property name="authorReviewDao" ref="authorReviewDao"/>
    </bean>
    <!--/Author-->

    <!--List-->
    <bean id="suggestionList" class="com.action.SuggestionList" scope="prototype">
        <property name="bookService" ref="bookService"/>
        <property name="authorService" ref="authorService"/>
    </bean>
    <!--/List-->

    <!--Search-->
    <bean id="searchAction" class="com.action.search.SearchAction" scope="prototype">
        <property name="bookService" ref="bookService" />
        <property name="userService" ref="userService" />
    </bean>
    <!--/Search-->

    <!--share-->

    <bean id="shareBookAction" class="com.action.share.ShareBookAction" scope="prototype">
           <property name="lendService" ref="lendService"/>
           <property name="bookService" ref="bookService"/>
           <property name="userService" ref="userService"/>
    </bean>

    <bean id="lendService" class="com.service.LendService">
        <property name="lendDao" ref="lendDao"/>
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="lendDao" class="com.dao.LendDaoImpl">
    </bean>
    <!--/share-->

    <!--Borrow-->

    <bean id="borrowService" class="com.service.BorrowService">
        <property name="borrowDao" ref="borrowDao" />
    </bean>

    <bean id="borrowDao" class="com.dao.BorrowDaoImpl">
    </bean>
    <!--/Borrow-->

    <!--Cart-->
    <bean id="cartAction" class="com.action.cart.ShoppingCartAction" scope="prototype">
        <property name="userService" ref="userService"/>
        <property name="lendService" ref="lendService"/>
        <property name="bookService" ref="bookService" />
    </bean>
    <!--/Cart-->

    <!--Shelf-->
    <bean id="wishListAction" class="com.action.shelf.WishListAction" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
    <!--/Shelf-->

    <!--Send Message - Contact Us-->
    <bean id="sendMessageAction" class="com.action.SendMessageAction" scope="prototype">
        <property name="emailService" ref="emailService" />
    </bean>
    <!--/Send Message - Contact Us-->

    <!--Extras-->
    <bean id="emailService" class="com.EmailService">
        <property name="configurer" ref="freemarkerConfig" />
    </bean>

    <bean id="encryptWithMd5" class="com.EncryptWithMd5">
    </bean>
    <!--/Extras-->

    <!--Admin Panel Action-->
    <bean id="adminPanelAction" class="com.action.admin.AdminPanelAction" scope="prototype">
        <property name="bookService" ref="bookService" />
        <property name="userService" ref="userService" />
        <property name="lendService" ref="lendService" />
        <property name="authorService" ref="authorService" />
        <property name="bookReviewService" ref="bookReviewService" />
        <property name="authorReviewService" ref="authorReviewService" />
        <property name="jpegReader" ref="jpegReader" />
    </bean>
    <!--/Admin Panel Action-->

    <!--Admin Panel Orders Action-->
    <bean id="adminPanelOrdersAction" class="com.action.admin.AdminPanelOrdersAction" scope="prototype">
        <property name="borrowService" ref="borrowService" />
        <property name="emailService" ref="emailService" />
    </bean>
    <!--/Admin Panel Orders Action-->

    <!--Footer Action-->
    <bean id="footerAction" class="com.action.FooterAction" scope="prototype">
        <property name="bookService" ref="bookService" />
    </bean>
    <!--/Footer Action-->

    <!--FreeMarker Beans-->
    <!-- freemarker config -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
    </bean>

    <!--
      View resolvers can also be configured with ResourceBundles or XML files. If you need
      different view resolving based on Locale, you have to use the resource bundle resolver.
    -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
    </bean>
    <!--/FreeMarker Beans-->

    <!--JPEG Reader-->
    <bean id="jpegReader" class="com.JpegReader">
    </bean>
    <!--/JPEG Reader-->

</beans>