<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/spring-config.xml,
            WEB-INF/spring-security.xml
        </param-value>
    </context-param>

    <filter>
        <filter-name>HibernateSpringFilter</filter-name>
        <filter-class>com.service.CustomHibernateSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HibernateSpringFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--Simple Captcha-->
    <servlet>
        <servlet-name>CustomCaptcha</servlet-name>
        <servlet-class>com.CustomCaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.png</url-pattern>
    </servlet-mapping>

    <!--/Simple Captcha-->

    <!--Error Pages-->
    <error-page>
        <error-code>404</error-code>
        <location>/page-not-found.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <!--<error-page>
        &lt;!&ndash; Uncaught exception &ndash;&gt;
        <error-code>500</error-code>
        <location>/general-error.jsp</location>
    </error-page>-->
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <!--/Error Pages-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>
