body
{
	margin:0px!important;
	padding:0px!important;
	background:#f5f5f5!important;
	font-family:'PT Sans',sans-serif!important;
}

.mainContainer
{
	margin:60px auto 0 auto!important;
	width:900px!important;
}

.topNav
{
	font-family: 'PT Sans', sans-serif!important;
	font-weight:bold!important;
	font-size:12px!important;
	width:960px!important;
	margin:0 auto!important;
	letter-spacing:-1px\9!important;
}

.tabs li
{
	display:inline!important;
	
}

.tabs li a
{
	
	cursor: pointer!important;
	padding:26px 13px 11px 12px!important;
	border:1px solid black !important;
	font-family:'PT Sans',sans-serif!important;
	font-size:13px!important;
	color:black!important;
	font-weight:400!important;
	text-transform:uppercase!important;
	background:#CB5C46!important;
}

.tabs .tab-current
{
	padding: 37px 13px 12px 12px!important;
	border-bottom:0px!important;
	background:#ffffff!important;
	
}

.tabsContent
{
	border:1px solid black!important;
	-moz-box-shadow: 3px 3px 5px #cccccc!important;
	-webkit-box-shadow: 3px 3px 5px #cccccc!important;
	box-shadow: 3px 3px 5px #cccccc!important;
	background:#ffffff!important;
	padding:20px 20px 20px 20px!important;
	color:#666666!important;
	
}

ul.tabs
{
	margin: 0 0 11px 20px!important;
	
}

/*Firefox hack*/
@-moz-document url-prefix()
{
	ul.tabs
	{
	   margin: 0 0 10px 20px!important;
	}
}
#center_column_order {width:900px;min-height:237px;float:left;margin:0 0 40px 20px;padding:0 30px 30px 30px;background:#fff;}
#center_column_order h1 {padding:24px 0 0 0;font:19px "Open Sans";font-weight:700;color:#524643;text-transform:uppercase;}

#order-tb{width:100%;height:100%;}

div.tabsContent  table#order-tb  th{font-weight:bold;font-size:1.2em;text-align:center;background:grey;color:white;border:3px solid white;vertical-align:middle;height:20px;}

 
div.tabsContent  table#order-tb  td{vertical-align:middle;text-align:center;font-size:1.1em;font-weight:bold;height:140px;border-bottom:2px solid black;}
div.tabsContent  table#order-tb  td#con-data{width:240px;font-weight:bold;font-size:1.2em;text-align:left;vertical-align:middle;}


div.tabsContent  table#order-tb td a.user-infi {font-size:1.1em;color:#CF6B50;text-decoration:none;font-weight:bold;}
div.tabsContent  table#order-tb td a.user-infi:hover {text-decoration:underline;}
